################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PT4/.vs/PT4
/TestPDF/TestPDF/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/TestPDF/TestPDF/obj/Debug/TestPDF.csproj.AssemblyReference.cache
/.vs/pt4_e3b/v17/.suo
/TestPDF/TestPDF/obj/Release
