/****** Object:  Table [dbo].[A_CONTRACTÉ]    Script Date: 01/04/2022 20:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_CONTRACTÉ](
	[DATEDEBUT] [datetime] NOT NULL,
	[IDANIMAL] [smallint] NOT NULL,
 CONSTRAINT [PK_A_CONTRACTÉ_1] PRIMARY KEY CLUSTERED 
(
	[DATEDEBUT] ASC,
	[IDANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_ÉTÉ_CONTRACTÉ]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_ÉTÉ_CONTRACTÉ](
	[IDMALADIE] [smallint] NOT NULL,
	[DATEDEBUT] [datetime] NOT NULL,
 CONSTRAINT [PK_A_ÉTÉ_CONTRACTÉ] PRIMARY KEY CLUSTERED 
(
	[IDMALADIE] ASC,
	[DATEDEBUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANIMAL]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMAL](
	[IDANIMAL] [smallint] IDENTITY(1,1) NOT NULL,
	[IDCLIENT] [smallint] NULL,
	[NOMESPECE] [varchar](128) NOT NULL,
	[NOMRACE] [varchar](128) NOT NULL,
	[NOMANIMAL] [varchar](128) NULL,
	[DATENAISSANCE] [datetime] NULL,
	[TAILLE] [smallint] NOT NULL,
	[POIDS] [decimal](7, 3) NOT NULL,
 CONSTRAINT [PK_ANIMAL] PRIMARY KEY CLUSTERED 
(
	[IDANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[IDCLIENT] [smallint] IDENTITY(1,1) NOT NULL,
	[NOMCLIENT] [varchar](128) NOT NULL,
	[PRENOMCLIENT] [varchar](128) NOT NULL,
	[NUMERO] [varchar](12) NULL,
	[EMAIL] [varchar](128) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[IDCLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGÉ]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGÉ](
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NOT NULL,
	[ESTREGULIER] [bit] NOT NULL,
 CONSTRAINT [PK_CONGÉ] PRIMARY KEY CLUSTERED 
(
	[DATEDEBUT] ASC,
	[DATEFIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EST_DANS_LE_SOIN]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EST_DANS_LE_SOIN](
	[ID] [smallint] NOT NULL,
	[IDPRODUIT] [smallint] NOT NULL,
 CONSTRAINT [PK_EST_DANS_LE_SOIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDPRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EST_SOIGNÉ]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EST_SOIGNÉ](
	[IDMALADIE] [smallint] NOT NULL,
	[ID] [smallint] NOT NULL,
 CONSTRAINT [PK_EST_SOIGNÉ] PRIMARY KEY CLUSTERED 
(
	[IDMALADIE] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTENCONGÉ]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTENCONGÉ](
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NOT NULL,
	[IDCOMPTE] [smallint] NOT NULL,
 CONSTRAINT [PK_ESTENCONGÉ] PRIMARY KEY CLUSTERED 
(
	[DATEDEBUT] ASC,
	[DATEFIN] ASC,
	[IDCOMPTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURE]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[IDFACTURE] [smallint] IDENTITY(1,1) NOT NULL,
	[IDCLIENT] [smallint] NULL,
	[MONTANT] [decimal](10, 2) NOT NULL,
	[DATEFACTURE] [datetime] NOT NULL,
 CONSTRAINT [PK_FACTURE] PRIMARY KEY CLUSTERED 
(
	[IDFACTURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIQUEMALADIE]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIQUEMALADIE](
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NULL,
 CONSTRAINT [PK_HISTORIQUEMALADIE] PRIMARY KEY CLUSTERED 
(
	[DATEDEBUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MALADIE]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MALADIE](
	[IDMALADIE] [smallint] IDENTITY(1,1) NOT NULL,
	[NOMMALADIE] [varchar](128) NULL,
 CONSTRAINT [PK_MALADIE] PRIMARY KEY CLUSTERED 
(
	[IDMALADIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDONNANCE]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDONNANCE](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[IDANIMAL] [smallint] NULL,
	[DATEORDO] [datetime] NOT NULL,
 CONSTRAINT [PK_ORDONNANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[IDPRODUIT] [smallint] IDENTITY(1,1) NOT NULL,
	[QUANTITEENSTOCK] [smallint] NOT NULL,
	[NOMPRODUIT] [varchar](128) NOT NULL,
	[PRIXDEVENTE] [decimal](10, 2) NULL,
	[PRIXACHAT] [decimal](10, 2) NOT NULL,
	[MEDICAMENT] [bit] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_PRODUIT] PRIMARY KEY CLUSTERED 
(
	[IDPRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_VENDU]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_VENDU](
	[IDFACTURE] [smallint] NOT NULL,
	[IDPRODUIT] [smallint] NOT NULL,
	[QUANTITÉ] [smallint] NOT NULL,
 CONSTRAINT [PK_PRODUIT_VENDU] PRIMARY KEY CLUSTERED 
(
	[IDFACTURE] ASC,
	[IDPRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENDEZVOUS]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENDEZVOUS](
	[IDRDV] [smallint] IDENTITY(1,1) NOT NULL,
	[IDCLIENT] [smallint] NOT NULL,
	[RAISON] [varchar](128) NOT NULL,
	[DATEHEURERDV] [datetime] NOT NULL,
	[HEUREFINRDV] [datetime] NOT NULL,
 CONSTRAINT [PK_RENDEZVOUS] PRIMARY KEY CLUSTERED 
(
	[IDRDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARIÉ]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARIÉ](
	[IDCOMPTE] [smallint] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](128) NOT NULL,
	[DONNEES_PERSONNELLES] [varchar](128) NULL,
	[estAdmin] [bit] NOT NULL,
	[MDP] [binary](32) NOT NULL,
 CONSTRAINT [PK_SALARIÉ] PRIMARY KEY CLUSTERED 
(
	[IDCOMPTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOIN]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOIN](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SOIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EST_DANS_LORDONNANCE]    Script Date: 01/04/2022 20:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EST_DANS_LORDONNANCE](
	[IDORDONNANCE] [smallint] NOT NULL,
	[IDSOIN] [smallint] NOT NULL,
 CONSTRAINT [PK_EST_DANS_LORDONNANCE] PRIMARY KEY CLUSTERED 
(
	[IDORDONNANCE] ASC,
	[IDSOIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[A_CONTRACTÉ] ([DATEDEBUT], [IDANIMAL]) VALUES (CAST(N'2021-12-25T00:00:00.000' AS DateTime), 32)
INSERT [dbo].[A_CONTRACTÉ] ([DATEDEBUT], [IDANIMAL]) VALUES (CAST(N'2022-03-31T00:00:00.000' AS DateTime), 29)
INSERT [dbo].[A_CONTRACTÉ] ([DATEDEBUT], [IDANIMAL]) VALUES (CAST(N'2022-04-01T00:00:00.000' AS DateTime), 30)
GO
INSERT [dbo].[A_ÉTÉ_CONTRACTÉ] ([IDMALADIE], [DATEDEBUT]) VALUES (5, CAST(N'2022-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[A_ÉTÉ_CONTRACTÉ] ([IDMALADIE], [DATEDEBUT]) VALUES (7, CAST(N'2021-12-25T00:00:00.000' AS DateTime))
INSERT [dbo].[A_ÉTÉ_CONTRACTÉ] ([IDMALADIE], [DATEDEBUT]) VALUES (8, CAST(N'2022-03-31T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ANIMAL] ON 

INSERT [dbo].[ANIMAL] ([IDANIMAL], [IDCLIENT], [NOMESPECE], [NOMRACE], [NOMANIMAL], [DATENAISSANCE], [TAILLE], [POIDS]) VALUES (28, 554, N'Chien', N'Yorkshire', N'Toufik', CAST(N'2022-03-28T15:00:00.000' AS DateTime), 56, CAST(6.425 AS Decimal(7, 3)))
INSERT [dbo].[ANIMAL] ([IDANIMAL], [IDCLIENT], [NOMESPECE], [NOMRACE], [NOMANIMAL], [DATENAISSANCE], [TAILLE], [POIDS]) VALUES (29, 554, N'Chat', N'Tigré', N'cachou', CAST(N'2022-03-18T12:20:00.000' AS DateTime), 41, CAST(4.147 AS Decimal(7, 3)))
INSERT [dbo].[ANIMAL] ([IDANIMAL], [IDCLIENT], [NOMESPECE], [NOMRACE], [NOMANIMAL], [DATENAISSANCE], [TAILLE], [POIDS]) VALUES (30, 554, N'Chien', N'Labrador', N'Panda', CAST(N'2022-02-09T12:05:00.000' AS DateTime), 93, CAST(16.237 AS Decimal(7, 3)))
SET IDENTITY_INSERT [dbo].[ANIMAL] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([IDCLIENT], [NOMCLIENT], [PRENOMCLIENT], [NUMERO], [EMAIL]) VALUES (550, N'Michel', N'Jean', NULL, N'jean.michel@gmail.com')
INSERT [dbo].[CLIENT] ([IDCLIENT], [NOMCLIENT], [PRENOMCLIENT], [NUMERO], [EMAIL]) VALUES (551, N'Jeulin', N'Elian', N'0780901020', N'elian.jeulin@gmail.com')
INSERT [dbo].[CLIENT] ([IDCLIENT], [NOMCLIENT], [PRENOMCLIENT], [NUMERO], [EMAIL]) VALUES (552, N'Boisson', N'Manon', N'0789456123', N'manon.boisson@gmail.com')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
INSERT [dbo].[CONGÉ] ([DATEDEBUT], [DATEFIN], [ESTREGULIER]) VALUES (CAST(N'2022-04-09T00:00:00.000' AS DateTime), CAST(N'2022-04-16T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[CONGÉ] ([DATEDEBUT], [DATEFIN], [ESTREGULIER]) VALUES (CAST(N'2022-04-18T00:00:00.000' AS DateTime), CAST(N'2022-04-24T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[CONGÉ] ([DATEDEBUT], [DATEFIN], [ESTREGULIER]) VALUES (CAST(N'2022-07-01T00:00:00.000' AS DateTime), CAST(N'2022-07-08T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[EST_DANS_LE_SOIN] ([ID], [IDPRODUIT]) VALUES (23, 19)
INSERT [dbo].[EST_DANS_LE_SOIN] ([ID], [IDPRODUIT]) VALUES (24, 23)
GO
INSERT [dbo].[EST_SOIGNÉ] ([IDMALADIE], [ID]) VALUES (5, 23)
INSERT [dbo].[EST_SOIGNÉ] ([IDMALADIE], [ID]) VALUES (9, 24)
GO
INSERT [dbo].[ESTENCONGÉ] ([DATEDEBUT], [DATEFIN], [IDCOMPTE]) VALUES (CAST(N'2022-04-09T00:00:00.000' AS DateTime), CAST(N'2022-04-16T00:00:00.000' AS DateTime), 30)
INSERT [dbo].[ESTENCONGÉ] ([DATEDEBUT], [DATEFIN], [IDCOMPTE]) VALUES (CAST(N'2022-04-18T00:00:00.000' AS DateTime), CAST(N'2022-04-24T00:00:00.000' AS DateTime), 14)
INSERT [dbo].[ESTENCONGÉ] ([DATEDEBUT], [DATEFIN], [IDCOMPTE]) VALUES (CAST(N'2022-07-01T00:00:00.000' AS DateTime), CAST(N'2022-07-08T00:00:00.000' AS DateTime), 14)
GO
SET IDENTITY_INSERT [dbo].[FACTURE] ON 

INSERT [dbo].[FACTURE] ([IDFACTURE], [IDCLIENT], [MONTANT], [DATEFACTURE]) VALUES (2, 554, CAST(52.00 AS Decimal(10, 2)), CAST(N'2022-04-01T17:59:34.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[FACTURE] OFF
GO
INSERT [dbo].[HISTORIQUEMALADIE] ([DATEDEBUT], [DATEFIN]) VALUES (CAST(N'2021-12-25T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[HISTORIQUEMALADIE] ([DATEDEBUT], [DATEFIN]) VALUES (CAST(N'2022-03-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[HISTORIQUEMALADIE] ([DATEDEBUT], [DATEFIN]) VALUES (CAST(N'2022-04-01T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[MALADIE] ON 

INSERT [dbo].[MALADIE] ([IDMALADIE], [NOMMALADIE]) VALUES (5, N'Chalazion')
INSERT [dbo].[MALADIE] ([IDMALADIE], [NOMMALADIE]) VALUES (7, N'Choléra')
INSERT [dbo].[MALADIE] ([IDMALADIE], [NOMMALADIE]) VALUES (6, N'Grippe')
SET IDENTITY_INSERT [dbo].[MALADIE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUIT] ON 

INSERT [dbo].[PRODUIT] ([IDPRODUIT], [QUANTITEENSTOCK], [NOMPRODUIT], [PRIXDEVENTE], [PRIXACHAT], [MEDICAMENT], [DESCRIPTION]) VALUES (19, 100, N'Gouttix', CAST(5.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), 1, N'Gouttes pour les yeux anti chalazion')
INSERT [dbo].[PRODUIT] ([IDPRODUIT], [QUANTITEENSTOCK], [NOMPRODUIT], [PRIXDEVENTE], [PRIXACHAT], [MEDICAMENT], [DESCRIPTION]) VALUES (20, 20, N'Biskrok', CAST(10.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), 0, N'Os mangeable pour chien')
INSERT [dbo].[PRODUIT] ([IDPRODUIT], [QUANTITEENSTOCK], [NOMPRODUIT], [PRIXDEVENTE], [PRIXACHAT], [MEDICAMENT], [DESCRIPTION]) VALUES (21, 19, N'ChienBien', CAST(20.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), 1, N'Paté pour chien digestive')
SET IDENTITY_INSERT [dbo].[PRODUIT] OFF
GO
INSERT [dbo].[PRODUIT_VENDU] ([IDFACTURE], [IDPRODUIT], [QUANTITÉ]) VALUES (2, 21, 1)
INSERT [dbo].[PRODUIT_VENDU] ([IDFACTURE], [IDPRODUIT], [QUANTITÉ]) VALUES (2, 22, 8)
GO
SET IDENTITY_INSERT [dbo].[RENDEZVOUS] ON 

INSERT [dbo].[RENDEZVOUS] ([IDRDV], [IDCLIENT], [RAISON], [DATEHEURERDV], [HEUREFINRDV]) VALUES (46, 550, N'Grosminet est malade', CAST(N'2022-04-07T12:00:00.000' AS DateTime), CAST(N'2022-04-07T13:00:00.000' AS DateTime))
INSERT [dbo].[RENDEZVOUS] ([IDRDV], [IDCLIENT], [RAISON], [DATEHEURERDV], [HEUREFINRDV]) VALUES (47, 554, N'Chien malade', CAST(N'2022-04-30T12:00:00.000' AS DateTime), CAST(N'2022-04-30T13:00:00.000' AS DateTime))
INSERT [dbo].[RENDEZVOUS] ([IDRDV], [IDCLIENT], [RAISON], [DATEHEURERDV], [HEUREFINRDV]) VALUES (48, 554, N'Chat malade', CAST(N'2022-04-09T12:00:00.000' AS DateTime), CAST(N'2022-04-09T13:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RENDEZVOUS] OFF
GO
SET IDENTITY_INSERT [dbo].[SALARIÉ] ON 

INSERT [dbo].[SALARIÉ] ([IDCOMPTE], [LOGIN], [DONNEES_PERSONNELLES], [estAdmin], [MDP]) VALUES (14, N'admin', NULL, 1, 0x8C6976E5B5410415BDE908BD4DEE15DFB167A9C873FC4BB8A81F6F2AB448A918)
INSERT [dbo].[SALARIÉ] ([IDCOMPTE], [LOGIN], [DONNEES_PERSONNELLES], [estAdmin], [MDP]) VALUES (30, N'skhalifa', NULL, 0, 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92)
INSERT [dbo].[SALARIÉ] ([IDCOMPTE], [LOGIN], [DONNEES_PERSONNELLES], [estAdmin], [MDP]) VALUES (31, N'rbourqui', N'Homme;21;0607080910;romain.bourqui@gmail.com', 0, 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92)
SET IDENTITY_INSERT [dbo].[SALARIÉ] OFF
GO
SET IDENTITY_INSERT [dbo].[SOIN] ON 

INSERT [dbo].[SOIN] ([ID], [DESCRIPTION]) VALUES (23, N'2 gouttes par jour pendant 2 semaines')
INSERT [dbo].[SOIN] ([ID], [DESCRIPTION]) VALUES (24, N'Prendre 3 gorgées chaque jour pendant 1 semaine, les 3 durant son repas.')
SET IDENTITY_INSERT [dbo].[SOIN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_EMAIL]    Script Date: 01/04/2022 20:31:40 ******/
ALTER TABLE [dbo].[CLIENT] ADD  CONSTRAINT [U_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENT__161CF724E3CF42C7]    Script Date: 01/04/2022 20:31:40 ******/
ALTER TABLE [dbo].[CLIENT] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MALADIE__EC15C50865077E7E]    Script Date: 01/04/2022 20:31:40 ******/
ALTER TABLE [dbo].[MALADIE] ADD UNIQUE NONCLUSTERED 
(
	[NOMMALADIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUIT__D42DAD93A2A4F9C3]    Script Date: 01/04/2022 20:31:40 ******/
ALTER TABLE [dbo].[PRODUIT] ADD UNIQUE NONCLUSTERED 
(
	[NOMPRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SALARIÉ__E39E2665D9044F7C]    Script Date: 01/04/2022 20:31:40 ******/
ALTER TABLE [dbo].[SALARIÉ] ADD UNIQUE NONCLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[A_CONTRACTÉ]  WITH CHECK ADD  CONSTRAINT [FK_A_CONTRACTÉ_ANIMAL] FOREIGN KEY([IDANIMAL])
REFERENCES [dbo].[ANIMAL] ([IDANIMAL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[A_CONTRACTÉ] CHECK CONSTRAINT [FK_A_CONTRACTÉ_ANIMAL]
GO
ALTER TABLE [dbo].[A_CONTRACTÉ]  WITH CHECK ADD  CONSTRAINT [FK_A_CONTRACTÉ_HISTORIQUEMALADIE] FOREIGN KEY([DATEDEBUT])
REFERENCES [dbo].[HISTORIQUEMALADIE] ([DATEDEBUT])
GO
ALTER TABLE [dbo].[A_CONTRACTÉ] CHECK CONSTRAINT [FK_A_CONTRACTÉ_HISTORIQUEMALADIE]
GO
ALTER TABLE [dbo].[A_ÉTÉ_CONTRACTÉ]  WITH CHECK ADD  CONSTRAINT [FK_A_ÉTÉ_CONTRACTÉ_HISTORIQUEMALADIE] FOREIGN KEY([DATEDEBUT])
REFERENCES [dbo].[HISTORIQUEMALADIE] ([DATEDEBUT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[A_ÉTÉ_CONTRACTÉ] CHECK CONSTRAINT [FK_A_ÉTÉ_CONTRACTÉ_HISTORIQUEMALADIE]
GO
ALTER TABLE [dbo].[A_ÉTÉ_CONTRACTÉ]  WITH CHECK ADD  CONSTRAINT [FK_A_ÉTÉ_CONTRACTÉ_MALADIE] FOREIGN KEY([IDMALADIE])
REFERENCES [dbo].[MALADIE] ([IDMALADIE])
GO
ALTER TABLE [dbo].[A_ÉTÉ_CONTRACTÉ] CHECK CONSTRAINT [FK_A_ÉTÉ_CONTRACTÉ_MALADIE]
GO
ALTER TABLE [dbo].[ANIMAL]  WITH CHECK ADD  CONSTRAINT [FK_ANIMAL_CLIENT] FOREIGN KEY([IDCLIENT])
REFERENCES [dbo].[CLIENT] ([IDCLIENT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ANIMAL] CHECK CONSTRAINT [FK_ANIMAL_CLIENT]
GO
ALTER TABLE [dbo].[EST_DANS_LE_SOIN]  WITH CHECK ADD  CONSTRAINT [FK_EST_DANS_LE_SOIN_PRODUIT] FOREIGN KEY([IDPRODUIT])
REFERENCES [dbo].[PRODUIT] ([IDPRODUIT])
GO
ALTER TABLE [dbo].[EST_DANS_LE_SOIN] CHECK CONSTRAINT [FK_EST_DANS_LE_SOIN_PRODUIT]
GO
ALTER TABLE [dbo].[EST_DANS_LE_SOIN]  WITH CHECK ADD  CONSTRAINT [FK_EST_DANS_LE_SOIN_SOIN] FOREIGN KEY([ID])
REFERENCES [dbo].[SOIN] ([ID])
GO
ALTER TABLE [dbo].[EST_DANS_LE_SOIN] CHECK CONSTRAINT [FK_EST_DANS_LE_SOIN_SOIN]
GO
ALTER TABLE [dbo].[EST_SOIGNÉ]  WITH CHECK ADD  CONSTRAINT [FK_EST_SOIGNÉ_MALADIE] FOREIGN KEY([IDMALADIE])
REFERENCES [dbo].[MALADIE] ([IDMALADIE])
GO
ALTER TABLE [dbo].[EST_SOIGNÉ] CHECK CONSTRAINT [FK_EST_SOIGNÉ_MALADIE]
GO
ALTER TABLE [dbo].[EST_SOIGNÉ]  WITH CHECK ADD  CONSTRAINT [FK_EST_SOIGNÉ_SOIN] FOREIGN KEY([ID])
REFERENCES [dbo].[SOIN] ([ID])
GO
ALTER TABLE [dbo].[EST_SOIGNÉ] CHECK CONSTRAINT [FK_EST_SOIGNÉ_SOIN]
GO
ALTER TABLE [dbo].[ESTENCONGÉ]  WITH CHECK ADD  CONSTRAINT [FK_ESTENCONGÉ_CONGÉ] FOREIGN KEY([DATEDEBUT], [DATEFIN])
REFERENCES [dbo].[CONGÉ] ([DATEDEBUT], [DATEFIN])
GO
ALTER TABLE [dbo].[ESTENCONGÉ] CHECK CONSTRAINT [FK_ESTENCONGÉ_CONGÉ]
GO
ALTER TABLE [dbo].[ESTENCONGÉ]  WITH CHECK ADD  CONSTRAINT [FK_ESTENCONGÉ_SALARIÉ] FOREIGN KEY([IDCOMPTE])
REFERENCES [dbo].[SALARIÉ] ([IDCOMPTE])
GO
ALTER TABLE [dbo].[ESTENCONGÉ] CHECK CONSTRAINT [FK_ESTENCONGÉ_SALARIÉ]
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURE_CLIENT] FOREIGN KEY([IDCLIENT])
REFERENCES [dbo].[CLIENT] ([IDCLIENT])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[FACTURE] CHECK CONSTRAINT [FK_FACTURE_CLIENT]
GO
ALTER TABLE [dbo].[ORDONNANCE]  WITH CHECK ADD  CONSTRAINT [FK_ORDONNANCE_ANIMAL] FOREIGN KEY([IDANIMAL])
REFERENCES [dbo].[ANIMAL] ([IDANIMAL])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ORDONNANCE] CHECK CONSTRAINT [FK_ORDONNANCE_ANIMAL]
GO
ALTER TABLE [dbo].[PRODUIT_VENDU]  WITH CHECK ADD  CONSTRAINT [FK_PRODUIT_VENDU_FACTURE] FOREIGN KEY([IDFACTURE])
REFERENCES [dbo].[FACTURE] ([IDFACTURE])
GO
ALTER TABLE [dbo].[PRODUIT_VENDU] CHECK CONSTRAINT [FK_PRODUIT_VENDU_FACTURE]
GO
ALTER TABLE [dbo].[PRODUIT_VENDU]  WITH CHECK ADD  CONSTRAINT [FK_PRODUIT_VENDU_PRODUIT] FOREIGN KEY([IDPRODUIT])
REFERENCES [dbo].[PRODUIT] ([IDPRODUIT])
GO
ALTER TABLE [dbo].[PRODUIT_VENDU] CHECK CONSTRAINT [FK_PRODUIT_VENDU_PRODUIT]
GO
ALTER TABLE [dbo].[RENDEZVOUS]  WITH CHECK ADD  CONSTRAINT [FK_RENDEZVOUS_CLIENT] FOREIGN KEY([IDCLIENT])
REFERENCES [dbo].[CLIENT] ([IDCLIENT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RENDEZVOUS] CHECK CONSTRAINT [FK_RENDEZVOUS_CLIENT]
GO
ALTER TABLE [dbo].[EST_DANS_LORDONNANCE]  WITH CHECK ADD  CONSTRAINT [FK_EST_DANS_LORDONNANCE_ORDONNANCE] FOREIGN KEY([IDORDONNANCE])
REFERENCES [dbo].[ORDONNANCE] ([ID])
GO
ALTER TABLE [dbo].[EST_DANS_LORDONNANCE] CHECK CONSTRAINT [FK_EST_DANS_LORDONNANCE_ORDONNANCE]
GO
ALTER TABLE [dbo].[EST_DANS_LORDONNANCE]  WITH CHECK ADD  CONSTRAINT [FK_EST_DANS_LORDONNANCE_SOIN] FOREIGN KEY([IDSOIN])
REFERENCES [dbo].[SOIN] ([ID])
GO
ALTER TABLE [dbo].[EST_DANS_LORDONNANCE] CHECK CONSTRAINT [FK_EST_DANS_LORDONNANCE_SOIN]
GO
ALTER TABLE [dbo].[ANIMAL]  WITH CHECK ADD CHECK  (([datenaissance]<=getdate()))
GO
ALTER TABLE [dbo].[CONGÉ]  WITH CHECK ADD CHECK  (([datedebut]<=[datefin]))
GO
ALTER TABLE [dbo].[CONGÉ]  WITH CHECK ADD CHECK  (([datedebut]<=[datefin]))
GO
ALTER TABLE [dbo].[CONGÉ]  WITH CHECK ADD CHECK  (([datedebut]<=[datefin]))
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD CHECK  (([montant]>=(0)))
GO
ALTER TABLE [dbo].[HISTORIQUEMALADIE]  WITH CHECK ADD  CONSTRAINT [CHK_COHERENCE_DATEFIN_DATEDEBUT] CHECK  (([DATEDEBUT]<=[DATEFIN]))
GO
ALTER TABLE [dbo].[HISTORIQUEMALADIE] CHECK CONSTRAINT [CHK_COHERENCE_DATEFIN_DATEDEBUT]
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD CHECK  (([prixachat]<=[prixdevente]))
GO
ALTER TABLE [dbo].[PRODUIT]  WITH CHECK ADD CHECK  (([quantiteenstock]>=(0)))
GO
ALTER TABLE [dbo].[PRODUIT_VENDU]  WITH CHECK ADD CHECK  (([quantité]>=(0)))
GO
